{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h4>Register</h4>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class="text-muted" style="font-size:12px;font-style:italic;margin-left:auto;margin-right:auto;width:fit-content">
            <h8>Password must:</h8>
            <ul style="text-align:left">
                <li>include an uppercase letter</li>
                <li>include a lowercase letter</li>
                <li>include a number</li>
                <li>be at least 6 characters long</li>
            </ul>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
